<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="amaro" translate="label" sortOrder="10">
            <label>Amaro</label>
        </tab>
        <section id="deliverydatefee" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Delivery Date Fee</label>
            <tab>amaro</tab>
            <resource>Amaro_DeliveryDateFee::deliverydatefee_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="saturdayfee" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Delivery Fee Saturdays</label>
                    <comment>Only input numbers. Ex: 10.76 or 8</comment>
                </field>
            </group>
        </section>
    </system>
</config>
