<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Amaro_Notifications::notification" title="Notification" sortOrder="10">
                    <resource id="Amaro_Notifications::notification_save" title="Save Notification" sortOrder="10"/>
                    <resource id="Amaro_Notifications::notification_delete" title="Delete Notification" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
