<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amaro_DeliveryDateEmail">
        <sequence>
            <module name="Amaro_DeliveryDate"/>
            <module name="Magento_Email"/>
        </sequence>
    </module>
</config>
